section, .section {
  position: relative;
  z-index: 1;
}

.section {
  max-width: none;
  overflow: hidden;
  padding: 40px 0;
  @include minMedia(550) {
    padding: 50px 0;
  }
  @include minMedia(800) {
    padding: 100px 0;
  }
  @include minMedia(1400) {
    padding: 150px 0;
  }
  &--inner{
    padding-bottom: 40px;
    @include minMedia(550) {
      padding-bottom: 50px;
    }
    @include minMedia(800) {
      padding-bottom: 100px;
    }
    @include minMedia(1400) {
      padding-bottom: 150px;
    }
  }
}
