img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  background: none;
}

p {
  margin: 0;
  padding: 0;
  background: none;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.svg-default {
  vertical-align: middle;
  line-height: 1;
}

.page-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  left: 0;
  transition: all 0.2s;
  color: theme_text_color("primary");
}

.content-wrap {
  flex: 1;
  background: theme_color("dark");
  color: theme_text_color("primary");
  &.light {
    background: theme-color("primary");
    color: theme_text_color("dark");
  }
}

// ==================== Testing =================== //

.testing-wrap{
  .testing-title{
    padding: 3rem 0;
    border-bottom: solid .5px rgba(0,0,0, .3);
    a, p{
      color: #111;
    }
  }
}

