.hero--blog {
  height: auto;
  min-height: 0;
  .hero-text {
    padding-top: 120px;
    padding-bottom: 50px;
    @include minMedia(550) {
      padding-top: 160px;
      padding-bottom: 70px;
    }
    @include minMedia(1100) {
      padding-top: 200px;
      padding-bottom: 100px;
    }
    &:before {
      display: none;
    }
  }
}

.blog-item{
  padding-bottom: 30px;
  &:last-child{
    padding-bottom: 0;
  }
  @include minMedia(800) {
    padding-bottom: 2.25rem;
    &:last-child {
      padding-bottom: 1.5rem;
    }
  }
  .card-blog{
    max-width: 550px;
    margin: 0 auto;
    &:hover{
      .card-img{
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

.card-img{
  position: relative;
  width: 100%;
  overflow: hidden;
  &:after{
    content: "";
    display: block;
    padding-top: 62%;
  }
  img{
    position: absolute;
    width: 100%;
    transform: scale(1.0);
    top: 0;
    left: 0;
    text-align: center;
    transition: all .5s cubic-bezier(.4, 0, .2, 1);
    backface-visibility: hidden;
  }
}

.card-content{
  padding-top: 1rem;
  h2{
    font-size: 27px;
    line-height: 1.1;
    letter-spacing: -1px;
    @include minMedia(550) {
      font-size: 1.5rem;
    }
    span{
      font-size: calc(27px * $ksize);
      display: inline-block;
      padding-right: .5rem;
      font-family: "BaskerCir";
      font-weight: 400;
      font-style: italic;
      @include minMedia(550) {
        font-size: calc(1.5rem * $ksize);
      }
    }
  }
}

.pagination{
  text-align: center;
  padding-top: 2rem;
  @include minMedia(800) {
    padding-top: 2.5rem;;
  }
}

// ============== Blog Detail =================

.title-article {
  padding: 100px 0 0;
  @include minMedia(550) {
    padding: 200px 0 0;
  }
  .subtitle {
    display: block;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .25px;
    margin-bottom: 10px;
  }
}

.article-content{
  margin-bottom: 35px;
  @include minMedia(550) {
    margin-bottom: 50px;
  }
  @include minMedia(1100) {
    margin-bottom: 70px;
  }
  @include minMedia(1400) {
    margin-bottom: 100px;
  }
  h3 {
    font-weight: 400;
  }
  p {
    font-weight: 300;
    line-height: 1.65;
  }
  p+p {
    margin-top: .7rem;
  }
}
