button, .btn {
  cursor: pointer;
  display: inline-block;
  background: 0 0;
  border: 0;
  font-family: "SourceSansPro", sans-serif;
  font-size: 14px;
  font-weight: 500;
  word-spacing: .1rem;
  letter-spacing: .1px;
  text-decoration: none;
  line-height: 1;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: .5px;
  transition: all .3s;
  @include minMedia(800) {
    padding: 17px 22px;
  }
  @media (max-height: 450px) and (orientation: landscape) {
    font-size: 14px;
    padding: 15px 20px;
  }
}

.btn {
  &--line-wrapper {
    margin: 50px 0;
    margin-bottom: 80px;
    @include minMedia(550) {
      margin-top: 4vw;
      margin-bottom: 100px;
    }
    @include minMedia(800) {
      margin-top: 4vw;
    }
    @include minMedia(1400) {
      margin: 5vw 0;
    }
  }
}

.blog-btn,
.find-btn,
.form-btn,
.start-project-btn,
.pagination-btn,
.view-btn {
  @extend button;
}

.find-btn,
.view-btn {
  border: 2px solid rgba(255, 255, 255, .15);
  color: #fff;
  &:hover {
    border: 2px solid rgba(255, 255, 255, 1.0);
    color: #fff;
  }
}

.blog-btn,
.form-btn {
  border: 2px solid rgba(0, 0, 0, .15);
  color: #000;
  &:hover {
    border: 2px solid rgba(0, 0, 0, 1.0);
  }
}

.form-btn:disabled{
  border: 2px solid rgba(0, 0, 0, .15);
  cursor: default;
}

.start-project-btn {
  border: 2px solid rgba(255, 255, 255, .15);
  color: #fff;
  &:hover {
    background: #18e591;
    border: 2px solid #18e591;
  }
  .header-light &{
    border: 2px solid rgba(0, 0, 0, .15);
    color: #000;
    &:hover {
      background: #18e591;
      border: 2px solid rgba(0, 0, 0, .05);
    }
  }
}

.pagination-btn {
  border: 2px solid rgba(0, 0, 0, .15);
  color: #000;
  &:hover {
    border: 2px solid rgba(0, 0, 0, 1.0);
  }
}
